:root {
  --dark-background-color: #0B3D2E;
  --main-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --accent-background-color: #E5E561;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-background-color);
  font-family: "Roboto", sans-serif;
}

header {
  margin: 0 auto;
  max-width: 940px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
  font-size: 18px;
  margin: 0;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

h2 {
  color: var(--dark-background-color);
  font-size: 36px;
  font-weight: 900;
}

button {
  background-color: var(--accent-background-color);
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: var(--dark-background-color);
  width: 124px;
  font-weight: 600;
  font-size: 18px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

figcaption {
  color: var(--dark-background-color);
  text-align: center;
  font-size: 18px;
  margin-top: 4px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

footer {
  padding: 40px;
  text-align: center;
  color: var(--main-text-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  margin: 16px 0;
}

.logo {
  width: 100px;
  background-color: var(--main-text-color);
  border-radius: 100%;
  padding: 4px;
}

.banner {
  margin: 140px auto;
  max-width: 940px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--main-text-color);
  font-size: 18px;
}

.banner-left, .banner-right {
  flex-basis: 50%;
}

.academy {
  width: 400px;
}

.about {
  margin: 8px 0;
  color: var(--secondary-text-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-text-color);
  padding: 80px;
}

.pictures {
  display: flex;
  gap: 48px;
  margin: 40px;
}

.pictures img {
  border: 4px solid var(--accent-background-color);
  border-radius: 10px;
  width: 160px;
}

.quote {
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 300px;
  max-width: 1400px;
}

.author {
  font-weight: bold;
  align-self: flex-end;
  font-size: 24px;
}

.action {
  display: flex;
  justify-content: center;
  background-color: var(--main-text-color);
  padding: 80px;
  color: var(--main-text-color);
  font-size: 18px;
}

.action-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--accent-background-color);
  color: var(--dark-background-color);
  border-radius: 8px;
  padding: 40px;
  min-width: 1200px;
}

.action-title {
  font-size: 24px;
}

.action button {
  border: 2px solid var(--main-text-color);
}